*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color:#222f37;
  color: #FAF1F1;

}

a {
  text-decoration: none;
  color: #9ac5e3;
  transition: .5s;

}

a:hover{
 color:#91b5cc;
}